CREATE DATABASE IF NOT EXISTS `Renter_Db`
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_unicode_ci;

USE `Renter_Db`;

CREATE TABLE `__EFMigrationsHistory` (
  `MigrationId` VARCHAR(150) NOT NULL,
  `ProductVersion` VARCHAR(32) NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetRoles` (
  `Id` VARCHAR(450) NOT NULL,
  `Name` VARCHAR(256) NULL,
  `NormalizedName` VARCHAR(256) NULL,
  `ConcurrencyStamp` LONGTEXT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `RoleNameIndex` (`NormalizedName`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetUsers` (
  `Id` VARCHAR(450) NOT NULL,
  `UserName` VARCHAR(256) NULL,
  `NormalizedUserName` VARCHAR(256) NULL,
  `Email` VARCHAR(256) NULL,
  `NormalizedEmail` VARCHAR(256) NULL,
  `EmailConfirmed` TINYINT(1) NOT NULL,
  `PasswordHash` LONGTEXT NULL,
  `SecurityStamp` LONGTEXT NULL,
  `ConcurrencyStamp` LONGTEXT NULL,
  `PhoneNumber` LONGTEXT NULL,
  `PhoneNumberConfirmed` TINYINT(1) NOT NULL,
  `TwoFactorEnabled` TINYINT(1) NOT NULL,
  `LockoutEnd` DATETIME(6) NULL,
  `LockoutEnabled` TINYINT(1) NOT NULL,
  `AccessFailedCount` INT NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `UserNameIndex` (`NormalizedUserName`),
  KEY `EmailIndex` (`NormalizedEmail`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetRoleClaims` (
  `Id` INT NOT NULL AUTO_INCREMENT,
  `RoleId` VARCHAR(450) NOT NULL,
  `ClaimType` LONGTEXT NULL,
  `ClaimValue` LONGTEXT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_AspNetRoleClaims_RoleId` (`RoleId`),
  CONSTRAINT `FK_AspNetRoleClaims_AspNetRoles_RoleId`
    FOREIGN KEY (`RoleId`) REFERENCES `AspNetRoles` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetUserClaims` (
  `Id` INT NOT NULL AUTO_INCREMENT,
  `UserId` VARCHAR(450) NOT NULL,
  `ClaimType` LONGTEXT NULL,
  `ClaimValue` LONGTEXT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_AspNetUserClaims_UserId` (`UserId`),
  CONSTRAINT `FK_AspNetUserClaims_AspNetUsers_UserId`
    FOREIGN KEY (`UserId`) REFERENCES `AspNetUsers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetUserLogins` (
  `LoginProvider` VARCHAR(128) NOT NULL,
  `ProviderKey` VARCHAR(128) NOT NULL,
  `ProviderDisplayName` LONGTEXT NULL,
  `UserId` VARCHAR(450) NOT NULL,
  PRIMARY KEY (`LoginProvider`, `ProviderKey`),
  KEY `IX_AspNetUserLogins_UserId` (`UserId`),
  CONSTRAINT `FK_AspNetUserLogins_AspNetUsers_UserId`
    FOREIGN KEY (`UserId`) REFERENCES `AspNetUsers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetUserRoles` (
  `UserId` VARCHAR(450) NOT NULL,
  `RoleId` VARCHAR(450) NOT NULL,
  PRIMARY KEY (`UserId`, `RoleId`),
  KEY `IX_AspNetUserRoles_RoleId` (`RoleId`),
  CONSTRAINT `FK_AspNetUserRoles_AspNetRoles_RoleId`
    FOREIGN KEY (`RoleId`) REFERENCES `AspNetRoles` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_AspNetUserRoles_AspNetUsers_UserId`
    FOREIGN KEY (`UserId`) REFERENCES `AspNetUsers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `AspNetUserTokens` (
  `UserId` VARCHAR(450) NOT NULL,
  `LoginProvider` VARCHAR(128) NOT NULL,
  `Name` VARCHAR(128) NOT NULL,
  `Value` LONGTEXT NULL,
  PRIMARY KEY (`UserId`, `LoginProvider`, `Name`),
  CONSTRAINT `FK_AspNetUserTokens_AspNetUsers_UserId`
    FOREIGN KEY (`UserId`) REFERENCES `AspNetUsers` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `Propertys` (
  `PropertyId` INT NOT NULL AUTO_INCREMENT,
  `OwnerName` LONGTEXT NOT NULL,
  `Price` DOUBLE NOT NULL,
  `BHK` INT NOT NULL,
  `PropertyType` LONGTEXT NOT NULL,
  `Furnishing` LONGTEXT NOT NULL,
  `BathroomCount` INT NOT NULL,
  `ShortDescription` LONGTEXT NULL,
  `Description` LONGTEXT NULL,
  `Image` LONGTEXT NULL,
  PRIMARY KEY (`PropertyId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

CREATE TABLE `Booking` (
  `BookingId` INT NOT NULL AUTO_INCREMENT,
  `OwnerName` LONGTEXT NOT NULL,
  `CustomerName` LONGTEXT NOT NULL,
  `CustomerNumber` LONGTEXT NOT NULL,
  `CustomerEmail` LONGTEXT NOT NULL,
  `BookingStatus` LONGTEXT NULL,
  `PropertyId` INT NOT NULL DEFAULT 0,
  PRIMARY KEY (`BookingId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

INSERT INTO `__EFMigrationsHistory` (`MigrationId`, `ProductVersion`) VALUES
('20210521194539_initial', '5.0.6'),
('20210522111437_bookingTbl', '5.0.6'),
('20210522111720_bookingTbltoDb', '5.0.6'),
('20210522125415_bookingTbltoDb2', '5.0.6');


INSERT INTO `Booking`
(`BookingId`, `OwnerName`, `CustomerName`, `CustomerNumber`, `CustomerEmail`, `BookingStatus`, `PropertyId`)
VALUES
(19, 'john', 'david', '8344180930', 'david@gmail.com', 'Pending', 5),
(20, 'john', 'david', '8344180930', 'david@gmail.com', 'Pending', 3);

