
<partial name="_toster" />

<div class="text-center">

    <h1 class="custom-text">Inquiry Confirmation</h1>

    <p>We have recieved your booking request , the property owner will accept or denied your booking and contact you shortly!</p>

    <img src="~/Images/patio.jpg" width="80%" />
</div>

