
<div class="container ">
    <div class="text-center">
        <h1 class="custom-text">Our Services</h1>
        <h4>Why Choose Us</h4>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-home pt-20"></i>
                <h4>Building Construction</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-building pt-20"></i>
                <h4>Building Renovation</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-leaf pt-20"></i>
                <h4>Architecture Design</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-gem pt-20"></i>
                <h4>Roof Repairing</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-cog pt-20"></i>
                <h4>Interior Design</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center my-1 ">
            <div class="item custom-btn3">
                <i class="fas fa-american-sign-language-interpreting pt-20"></i>
                <h4>Condo Remodeling</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem.</p>
            </div>
        </div>
    </div>
</div>