<style>
    #testimonial-slider {
        margin-bottom: 20px;
        text-align: center;
    }

    

    .testimonial .title {
        font-size: 22px;
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 40px;
        letter-spacing: 2px;
    }

    .owl-buttons {
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 40%;
        left: 0;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        left: 0;
        transition: all 0.4s ease-in-out 0s;
    }

    .owl-next {
        left: auto;
        right: 0;
    }

    .owl-buttons .owl-prev:before,
    .owl-buttons .owl-next:before {
        content: "\f104";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 60px;
        font-weight: 900;
        background-image: linear-gradient(to left bottom, #f4ff00, #fede00, #ffbd00, #ff9b00, #fc7900, #fc7900, #fc7900, #fc7900, #ff9b00, #ffbd00, #fede00, #f4ff00) !important;
        line-height: 20px;
        opacity: 0.8;
    }

    .owl-buttons .owl-next:before {
        content: "\f105";
    }

    .owl-buttons .owl-prev:hover:before,
    .owl-buttons .owl-next:hover:before {
        opacity: 1;
    }

    .owl-theme .owl-controls .owl-buttons div {
        background: transparent;
    }

    .owl-theme .owl-controls {
        margin-top: 40px;
    }

        .owl-theme .owl-controls .owl-page span {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 4px solid red;
            background: url("https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png");
            background-size: cover;
            transition: all 0.3s ease-in-out 0s;
        }

        .owl-theme .owl-controls .owl-page:nth-child(2) span { 
            background: url("https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png");
            background-size: cover; 
        }

        .owl-theme .owl-controls .owl-page:nth-child(3) span {
            background: url("https://cdn2.iconfinder.com/data/icons/avatars-99/62/avatar-370-456322-512.png");
            background-size: cover;
        }

        .owl-theme .owl-controls.clickable .owl-page:hover span {
            opacity: 0.5;
        }

        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls .owl-page.active:hover span {
            border-color: red;
            opacity: 1;
        }

    @@media only screen and (max-width: 479px) {
        .owl-buttons {
            bottom: 30%;
        }
    }
</style>

<h1 class="custom-text text-center">Customer Review Section</h1>
<div class="container shadow shadow-md">
    
    <div id="testimonial-slider" class="owl-carousel">
        <div class="testimonial">
            <p class="description">
                I have just bought an apartment in LA thanks to you and your brokers. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future.
            </p>
            <h3 class="title">Ramu</h3>
        </div>

        <div class="testimonial">
            <p class="description">
                I have recently sold my rental property in Nelson via inHouse. Everything about the sale was made seamless by your team. You gave me great advice about what was necessary to expedite the sale.
            </p>
            <h3 class="title">Pream</h3>
        </div>

        <div class="testimonial">
            <p class="description">
                I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends.
            </p>
            <h3 class="title">Kannan</h3>
        </div>
    </div>


</div>


